@{
    ViewData["Title"] = "About";
}
<section id="aboutus">
    <h1 id="about-header">
        ABOUT US WHAT İS THİS PLACE
    </h1>
    <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quas qui ab, perferendis obcaecati aut fugit saepe recusandae accusantium consectetur earum repellat neque a inventore excepturi laboriosam cum voluptatibus quibusdam? Illo dolor exercitationem fugiat odit omnis nesciunt, tempore dicta laborum deserunt, eveniet ratione iusto. Voluptatum nulla tenetur dolores atque, corporis voluptas ex ducimus sequi eaque itaque sunt accusantium, quasi, quia praesentium nostrum ipsum! Sit, earum voluptate. Ut maxime id numquam veritatis?
    </p>
</section>