@{
    ViewData["Title"] = "Home Page";
}

<div id="pic-container">
        <img id="landing-pic" src="~/Images/landing-demo.png" alt="landing image">
    </div>
    <img src="~/Images/exactly-legal-horizontal.svg" alt="horizontal-banner" class="horizontal-entry">
    <img src="~/Images/exactly-legal-horizontal.svg" alt="horizontal-banner" class="horizontal-entry">
    <main>
        <h1 id="announcement-showcase">SHOWCASE</h1>
        <hr>
        <section id="showcase-horizontal">
            <div id="script-showcase">
                <a href="" id="script-href">
                    <img src="~/Images/dummy-ad.svg" alt="ads banner image" id="showcase-img">
                    <div id="inner-container">
                        <h1 id="showcase-header">Crypto Fox</h1>
                        <p id="showcase-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique
                            expedita
                            aut, unde, ratione non voluptatem possimus nemo voluptatum consectetur velit omnis amet.</p>
                    </div>

                </a>

            </div>
            <div id="script-showcase">
                <a href="" id="script-href">
                    <img src="~/Images/dummy-ad.svg" alt="ads banner image" id="showcase-img">
                    <div id="inner-container">
                        <h1 id="showcase-header">Crypto Fox</h1>
                        <p id="showcase-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique
                            expedita
                            aut, unde, ratione non voluptatem possimus nemo voluptatum consectetur velit omnis amet.</p>
                    </div>

                </a>

            </div>
            
        </section>
        <h1 id="announcement-mini-showcase">MINI SHOWCASE</h1>
        <hr>
        <section id="mini-showcase">
            <div id="showcase-mini">
                <a href="" id="showcase-href">
                    <img src="~/Images/mini-showcase-dummy.svg" alt="mini-showcase picture banner" id="mini-showcase-img">
                    <h2 id="mini-showcase-header">A GİFT FOR YOU</h2>
                </a>
            </div>
           
        </section>
