@model IEnumerable<LoginRegisterApp.Models.Showcases>
@{
    ViewData["Title"] = "Home Page";

}

<section id="top-middle-section">
    <div id="top-section-area">
        <h1 id="top-section-header"></h1>
        <h2 id="top-section-h2"></h2>
        <h3 id="top-section-h3"></h3>
    </div>
</section>

        
<img class="landing-pic bnb" src="~/Images/bnb-main-pic.jpg" alt="">
<img class="landing-pic btc" src="~/Images/btc-main-pic.jpg" alt="">
<img class="landing-pic eth" src="~/Images/eth-main-pic.jpg" alt="">
        
<img title="WAAAVEEESSSSSS" id="waves" src="~/Images/Adsız tasarım.svg" alt="waves pic">
<section id="ad-banners" class="grid-container">
    @foreach (var showcase in Model)
    {
        <div class="ad-banner ">
            <a asp-action="@showcase.ShowcaseUrl" asp-controller="">
                <img src="~/Images/@showcase.ShowcasePhotoUrl" alt="advertise picture"
                     class="banner-pic ">
            </a>
        </div>
    }
</section>