@{
    ViewData["Title"] = "Questions";
}

<section id="questions">
    <ul id="question-list">
        <li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit ut cupiditate modi dolorem unde, impedit facilis asperiores corrupti ipsa ullam!</p>
            <li><p>
                Lorem ipsum dolor sit amet, consectetur adipisicing.
            </p></li>
        </li>
        <li>
            <p>Corporis, tenetur quam? Similique consequuntur accusamus tempore blanditiis, odit, impedit alias sed dolorum autem repellendus, aut hic velit dolorem at!</p>
        <li><p>
                Lorem ipsum dolor sit amet, consectetur adipisicing.
            </p></li>
        </li>
        <li>
            <p>Placeat ipsam enim dolore at nostrum officiis rem. Atque quam ab praesentium tempora provident, quia eligendi dolores eos adipisci dicta.</p>
        <li><p>
                Lorem ipsum dolor sit amet, consectetur adipisicing.
            </p></li>
        </li>
        <li>
            <p>Voluptas debitis cum, sunt autem, rerum praesentium blanditiis dolorum iure nesciunt illum asperiores, necessitatibus tenetur qui dignissimos earum tempora recusandae!</p>
        <li><p>
                Lorem ipsum dolor sit amet, consectetur adipisicing.
            </p></li>
        
        </li>
        <li>
            <p>Molestias tempore itaque, illo quibusdam, saepe placeat aliquid delectus deleniti possimus eum aut explicabo animi rem commodi excepturi? Distinctio, quas.</p>
        <li><p>
                Lorem ipsum dolor sit amet, consectetur adipisicing.
            </p></li>
        </li>
        <li>
            <p>Eaque veritatis nisi ad accusamus ea, ipsam dolores inventore, ut soluta ducimus officiis omnis temporibus atque dolorem, quasi molestiae labore.</p>
        <li><p>
                Lorem ipsum dolor sit amet, consectetur adipisicing.
            </p></li>
        </li>
        <li>
            <p>Quibusdam nemo exercitationem atque dolorem expedita vitae aliquam modi optio! Nostrum voluptate nulla nesciunt praesentium minus beatae dolore distinctio non?</p>
        <li><p>
                Lorem ipsum dolor sit amet, consectetur adipisicing.
            </p></li>
        </li>
    </ul>
</section>