<section id="scripts">
            <div class="general-container">
                <div class="script-container">
                    <a href="" class="card-href">
                        <img src="~/Images/dummy-ad.svg" alt="" class="card-img">
                        <h2 class="card-header">CRYPTO FOX</h2>
                        <p class="card-price">27.99 $</p>
                        <a href="" class="addto-card">Add To Cart</a>
                    </a>
                </div>
            </div>
            
        </section>