@model IEnumerable<LoginRegisterApp.Models.Scripts>
<section id="scripts">
    @foreach(var script in Model){
            <div class="general-container">
                <div class="script-container">
                    <a asp-controller="Home" asp-action="Script" asp-route-ScriptName="@script.ScriptUrl" class="card-href">
                        <img src="@script.ScriptImage" alt="" class="card-img">
                        <h2 class="card-header">@script.ScriptName</h2>
                        <p class="card-price">@script.ScriptPrice</p>
                        <a href="" class="addto-card">BUY</a>
                    </a>
                </div>
            </div>
            }
        </section>