@model IEnumerable<LoginRegisterApp.Models.Tools>
<section id="scripts">
    @foreach(var tool in Model){
            <div class="general-container">
                <div class="script-container">
                    <a asp-controller="Home" asp-action="Tool" asp-route-ToolName="@tool.ToolUrl" class="card-href">
                        <img src="@tool.ToolImage" alt="" class="card-img">
                        <h2 class="card-header">@tool.ToolName</h2>
                        <p class="card-price">@tool.ToolPrice</p>
                        <a href="" class="addto-card">BUY</a>
                    </a>
                </div>
            </div>
            }
        </section>